@import "tailwindcss";

@layer base {
  :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply leading-normal font-normal text-white/87 bg-[#242424];

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  a {
    @apply font-medium text-[#646cff];
    text-decoration: inherit;
  }
  a:hover {
    @apply text-[#535bf2]
  }

  body {
    @apply m-0 flex place-items-center min-w-[320px] min-h-screen;
  }

  h1 {
    @apply text-[3.2em] leading-[1.1];
  }
  /* When are these buttons used? */
  button {
    @apply rounded-[8px] border border-transparent py-[0.6em] px-[1.2em] bg-[#1a1a1a];
    @apply text-[1em] font-medium;
    @apply transition-colors duration-[250] cursor-pointer;
  }

  button:hover {
    @apply border-[#646cff];
  }

  button:focus, button:focus-visible {
    /* I don't think -webkit-focus-ring-color works on Firefox */
    outline: 4px auto -webkit-focus-ring-color;
  }

  aside {
    @apply text-white text-[14px];
  }

  aside .description {
    @apply mb-5 p-2.5 bg-[#2c2c2c] rounded-[5px] text-white text-center text-xs;
  }

  /* Scrollbar styling for sidebar */
  aside::-webkit-scrollbar {
    width: 6px; 
  }

  aside::-webkit-scrollbar-track {
    background: #2c2c54;
    border-radius: 3px;
  }

  aside::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 3px;
  }

  aside::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}

/* Convert entirely to Tailwind later */
@media (prefers-color-scheme: light) {
  :root {
    @apply text-[#213547] bg-white;
  }
  a:hover {
    @apply text-[#747bff];
  }
  button {
    @apply bg-[#f9f9f9]
  }
}
